<div class="page-header">
    <div class="container">
        <h1 class="page-title pull-left">BLOG</h1>
        <ol class="breadcrumb">
            <li><a href="{{ url('homepage') }}">Home</a></li>
            <li><a href="{{ url('homepage') }}">Blog</a></li>
            <li class="active">Blog Medium Thumbnail</li>
        </ol>
    </div>
</div>
