<div class="widget">
    <h4 class="widget-title">TAGS</h4>
    <ul class="list-inline tag-list">
        {% for tag in tags %}
            <li><a href="#">{{ tag.tag }}</a></li>
        {% endfor %}
    </ul>
</div>