<div class="widget">
    <div class="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a
                        href="#content-popular"
                        aria-controls="content-popular" role="tab" data-toggle="tab">POPULAR</a></li>
            <li role="presentation"><a
                        href="#content-recents"
                        aria-controls="content-recents" role="tab" data-toggle="tab">RECENTS</a></li>
            <li role="presentation"><a
                        href="#content-recent-comments"
                        aria-controls="content-recent-comments" role="tab" data-toggle="tab"><i
                            class="fa fa-comments"></i></a></li>
        </ul>
        <div class="tab-content">
            <div id="content-popular" class="tab-pane fade in active" role="tabpanel">
                <ul class="list-unstyled blogposts popular">
                    <li>
                        <h4 class="post-title"><a
                                    href="#">Monotonectally
                                Underwhelm Sustainable Outsourcing</a></h4>
                        <span class="text-muted">Nov 4, 2014 | by John Doe</span>
                    </li>
                    <li>
                        <h4 class="post-title"><a
                                    href="#">Seamlessly
                                Repurpose Equity Invested Intellectual Capital</a></h4>
                        <span class="text-muted">Nov 23, 2014 | by George</span>
                    </li>
                    <li>
                        <h4 class="post-title"><a
                                    href="#">Efficiently
                                Aggregate Multidisciplinary Markets With Professional Functionalities</a></h4>
                        <span class="text-muted">Nov 9, 2014 | by Jane</span>
                    </li>
                    <li>
                        <h4 class="post-title"><a
                                    href="#">Collaboratively
                                Actualize Revolutionary Total Linkage</a></h4>
                        <span class="text-muted">Nov 9, 2014 | by Smith</span>
                    </li>
                    <li>
                        <h4 class="post-title"><a
                                    href="#">Credibly
                                Disintermediate Client-centered Applications</a></h4>
                        <span class="text-muted">Nov 9, 2014 | by Barbara</span>
                    </li>
                </ul>
            </div>
            <div id="content-recents" class="tab-pane fade" role="tabpanel">
                <ul class="list-unstyled blogposts latest">
                    <li>
                        <h4 class="post-title"><a
                                    href="#">Assertively
                                Streamline Error-free Quality</a></h4>
                        <span class="text-muted">Dec 9, 2014 | by John Doe</span>
                    </li>
                    <li>
                        <h4 class="post-title"><a
                                    href="#">Proactively
                                Monetize Long-term High-impact Architectures After Value-added Experiences</a></h4>
                        <span class="text-muted">Dec 12, 2014 | by George</span>
                    </li>
                    <li>
                        <h4 class="post-title"><a
                                    href="#">Efficiently
                                Repurpose Enterprise-wide Processes For Granular Applications</a></h4>
                        <span class="text-muted">Dec 29, 2014 | by Jane</span>
                    </li>
                    <li>
                        <h4 class="post-title"><a
                                    href="#">Monotonectally
                                Underwhelm Sustainable Outsourcing</a></h4>
                        <span class="text-muted">Nov 4, 2014 | by John Doe</span>
                    </li>
                    <li>
                        <h4 class="post-title"><a
                                    href="#">Seamlessly
                                Repurpose Equity Invested Intellectual Capital</a></h4>
                        <span class="text-muted">Nov 23, 2014 | by George</span>
                    </li>
                </ul>
            </div>
            <div id="content-recent-comments" class="tab-pane fade" role="tabpanel">
                <ul class="list-unstyled recent-comments">
                    <li>
                        <div class="media">
                            <a href="#"
                               class="media-left"><img src="{{ asset('images/user2.png') }}" class="img-circle"
                                                       alt="Avatar"></a>
                            <div class="media-body">
                                <h4 class="media-heading"><a
                                            href="#">Antonio</a>
                                    in
                                    <a href="#">Holisticly
                                        Unleash Enabled Information Via Customized Value</a></h4>
                                <p class="text-muted">Interactively grow cross-media customer service through B2C
                                    paradigms. Continually monetize magnetic sources rather than ...</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a href="#"
                               class="media-left"><img src="{{ asset('images/user2.png') }}" class="img-circle"
                                                       alt="Avatar"></a>
                            <div class="media-body">
                                <h4 class="media-heading"><a
                                            href="#">Michael</a>
                                    in
                                    <a href="#">Holisticly
                                        Unleash Enabled Information Via Customized Value</a></h4>
                                <p class="text-muted">Objectively disseminate customer directed e-commerce with
                                    prospective partnerships. Collaboratively actualize ...</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a href="#"
                               class="media-left"><img src="{{ asset('images/user2.png') }}" class="img-circle"
                                                       alt="Avatar"></a>
                            <div class="media-body">
                                <h4 class="media-heading"><a
                                            href="#">Laura</a>
                                    in
                                    <a href="#">Holisticly
                                        Unleash Enabled Information Via Customized Value</a></h4>
                                <p class="text-muted">Continually monetize magnetic sources rather than leveraged
                                    outsourcing ...</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>