/* your custom styles here */
.badge.inverse {
  color: #337ab7;
  background-color: #fff;
}
.recent-comments .avatar.anonymous {
  border-radius: 50%;
  display: block;
  width: 40px;
  height: 40px;
  font-size: 20px;
  background-color: #ccc;
  color: #8c8c8c;
  text-align: center;
  line-height: 40px;
}