{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    {{ include( 'AppBundle:admin:topMenu.html.twig' ) }}
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    {{ include( 'AppBundle:admin:leftBlock.html.twig' ) }}
                </div>
                <div class="col-md-9">
                    {% block content %}{% endblock content %}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}