{% extends 'AppBundle:admin:admin.html.twig' %}

{% block content %}

    <div class="alert alert-danger" role="alert">
        <strong>Operation failed!</strong> {{ message }}
    </div>

{% endblock content %}