<div class="page-header">
    <div class="container">
        <h1 class="page-title pull-left">ADMIN</h1>
        <ol class="breadcrumb">
            <li><a href="{{ url('homepage') }}">Home</a></li>
            <li class="active">Admin</li>
        </ol>
    </div>
</div>
