{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div style="width: 400px; margin: 50px auto 50px;">
        <h3 class="section-heading">Login Form</h3>
        {% if error %}
            <div class="alert alert-danger" role="alert">
                <strong>Oh snap!</strong> {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        <form class="form-horizontal" role="form" action="{{ path('login_check') }}" method="post">
            <div class="form-group">
                <label for="username" class="control-label sr-only">Username</label>
                <div class="col-sm-12">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" id="username" name="_username" value="{{ last_username }}" placeholder="Username">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="control-label sr-only">Password</label>
                <div class="col-sm-12">
                    <div class="input-group">
                        <input type="password" class="form-control input-sm" id="inputPassword3" name="_password" placeholder="Password" style="cursor: pointer; background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACIUlEQVQ4EX2TOYhTURSG87IMihDsjGghBhFBmHFDHLWwSqcikk4RRKJgk0KL7C8bMpWpZtIqNkEUl1ZCgs0wOo0SxiLMDApWlgOPrH7/5b2QkYwX7jvn/uc//zl3edZ4PPbNGvF4fC4ajR5VrNvt/mo0Gr1ZPOtfgWw2e9Lv9+chX7cs64CS4Oxg3o9GI7tUKv0Q5o1dAiTfCgQCLwnOkfQOu+oSLyJ2A783HA7vIPLGxX0TgVwud4HKn0nc7Pf7N6vV6oZHkkX8FPG3uMfgXC0Wi2vCg/poUKGGcagQI3k7k8mcp5slcGswGDwpl8tfwGJg3xB6Dvey8vz6oH4C3iXcFYjbwiDeo1KafafkC3NjK7iL5ESFGQEUF7Sg+ifZdDp9GnMF/KGmfBdT2HCwZ7TwtrBPC7rQaav6Iv48rqZwg+F+p8hOMBj0IbxfMdMBrW5pAVGV/ztINByENkU0t5BIJEKRSOQ3Aj+Z57iFs1R5NK3EQS6HQqF1zmQdzpFWq3W42WwOTAf1er1PF2USFlC+qxMvFAr3HcexWX+QX6lUvsKpkTyPSEXJkw6MQ4S38Ljdbi8rmM/nY+CvgNcQqdH6U/xrYK9t244jZv6ByUOSiDdIfgBZ12U6dHEHu9TpdIr8F0OP692CtzaW/a6y3y0Wx5kbFHvGuXzkgf0xhKnPzA4UTyaTB8Ph8AvcHi3fnsrZ7Wore02YViqVOrRXXPhfqP8j6MYlawoAAAAASUVORK5CYII=&quot;); background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label class="fancy-checkbox">
                        <input type="checkbox">
                        <span>Remember me</span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-sign-in"></i> Sign in</button>
                </div>
            </div>
        </form>
    </div>
{% endblock body %}
